.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}


.profile {
  background-image: url("../images/grid-me.png");
  background-color: #7aa386;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 170px;
  height: 450px;
  width: 100%;
  

}

img {
  max-width:100%;
  height:auto;
  ;
}

.header-text {
  color: #f4f1ec;
  font-family: 'Source Sans Pro', 'sans-serif';
}

.name {
  color: #654949;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  top: -40px
}
