.profile {
  background-image: url("../images/grid-me.png");
  background-color: #7aa386;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 170px;
  height: 100%;
  width: 100%;
}

img {
  max-width:100%;
  height:auto;
  ;
}

.header-text {
  color: #f4f1ec;
  font-family: 'Source Sans Pro', 'sans-serif';
  flex-direction: column;
}

.name {
  color: #654949;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  top: -40px
}

@media only screen and (min-width: 768px) {
  .profile {
    background-image: url("../images/grid-me.png");
    background-color: #7aa386;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 200px 50px 50px;
  }

  .container {
    margin-right: 50px;
   
  }
  nav {
    background-color: #7aa386;
    position: fixed
  }
   
}


  
@media only screen and (max-width: 768px) {
  body {
    flex-direction: column;
    align-items: center;
  }
}