nav {
  background-color: #679775;
  height: 120px;
  width: 100%;
  padding: 1em 1.5em;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}

.header {
  font-family: 'Bungee', 'sans-serif';
  color: #f4f1ec;
  background-color: #679775;
  font-size: 40px;
  display: flex;
  align-items: flex-end;
  
}

.writeATweet {
  font-family: 'Source Sans Pro', 'sans-serif';
  font-size: 20px;
  color: #645858;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#arrow {
  display: flex;
  background-color: transparent;
  padding: 5px;
  align-self: center;
  animation: button 2s infinite
}

@keyframes button {
  20%, 53%, 80%, 0%, 100% {
      -webkit-animation-timing-function: cubic-bezier(0.215,.61,.355,1);
      animation-timing-function: cubic-bezier(0.215,.61,.355,1);
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
  }
  40%, 43% {
      -webkit-animation-timing-function: cubic-bezier(0.755,.050,.855,.060);
      animation-timing-function: cubic-bezier(0.755,.050,.855,.060);
      -webkit-transform: translate3d(0,-8px,0);
      transform: translate3d(0,-8px,0);
  }
  70% {
      -webkit-animation-timing-function: cubic-bezier(0.755,.050,.855,.060);
      animation-timing-function: cubic-bezier(0.755,.050,.855,.060);
      -webkit-transform: translate3d(0,-5px,0);
      transform: translate3d(0,-5px,0);
  }
  90% {
      -webkit-transform: translate3d(0,-4px,0);
      transform: translate3d(0,-4px,0);
  }
}

