

#tweet-text {
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: bold;
  color: #654949;
  height: 50px;
  width: 100%;
  background-color: transparent;
  border-bottom: 4px solid rgb(73, 67, 60);
  border-left: 0;
  border-top: 0;
  border-right: 0;
}

form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap ;

}

.tweet-button{
  background-color: #679775;
  font-family: 'Bungee', 'sans-serif';
  color: #f4f1ec;
  margin-top: 15px;
}

.counter {
  font-family: 'Bungee', 'sans-serif';
  color: #654949;
  margin-top: 20px;

}

.counter.tweet-is-too-long {
  font-family: 'Bungee', 'sans-serif';
  color: red;
}

